@import url('./styles/header.css');
@import url('./styles/main-new.css');
@import url('./styles/news-list.css');
@import url('./styles/trending-news.css');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: hsl(36, 100%, 99%);
  color: hsl(236, 13%, 42%);
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
