.main-header {
  margin: 20px 0;
}

.main-logo {
  display: inline-block;
  vertical-align: middle;
}

.main-nav {
  display: none;
}

.header-menu {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 71px);
  text-align: right;
}

.backdrop {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: hsla(240, 100%, 5%, 0.5);
  overflow-x: hidden;
  display: none;
}

.mobile-menu {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  text-align: right;
  width: 65%;
  height: 100%;
  background: hsl(36, 100%, 99%);
  padding: 20px;
  display: none;
}

.menu-nav {
  list-style-type: none;
  margin-top: 80px;
  text-align: left;
  padding: 0;
}

.menu-nav > li {
  font-size: 20px;
  padding: 20px 0;
}

.menu-nav > li > a,
.main-nav > li > a {
  text-decoration: none;
  color: hsl(240, 100%, 5%);
}

.menu-nav > li > a:hover,
.main-nav > li > a:active,
.main-nav > li > a:hover,
.main-nav > li > a:active {
  color: hsl(5, 85%, 63%);
}

@media (min-width: 700px) {
  .header-menu {
    display: none;
  }

  .main-nav {
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
    padding: 0;
    width: calc(100% - 70px);
    text-align: right;
  }

  .main-nav > li {
    display: inline-block;
    padding: 0 20px;
  }

  .main-nav > li > a {
    color: hsl(236, 13%, 42%);
  }

  .mobile-menu {
    display: none;
  }
}
