.trending-news {
  margin-top: 30px;
  width: 100%;
}

.trending-news__new {
  display: inline-block;
  width: 33%;
  vertical-align: middle;
}

.trending-news__new img {
  display: inline-block;
  width: 49%;
  vertical-align: text-top;
}

.trending-news__new__content {
  display: inline-block;
  width: 49%;
  vertical-align: text-top;
}
